@{
    ViewBag.Title = "Home Page";
}
<div style="display:flex">
    <div>
        <div style="padding: 20px">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%" class="card-img-top" src="~/images/car.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cars</h5>
                    <p class="card-text">View all cars avaliable for booking within a time frame or register a new car into the system</p>
                    <a href="/Home/Cars" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="padding: 20px">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%" class="card-img-top" src="~/images/user.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <p class="card-text">View all customers or register new customers</p>
                    <a href="/Home/Customers" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="padding: 20px">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%" class="card-img-top" src="~/images/booking.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bookings</h5>
                    <p class="card-text">View customer bookigs by providing a user id or create a new booking by providing car and user id`s</p>
                    <a href="/Home/Bookings" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="padding: 20px">
            <div class="card" style="width: 18rem;">
                <img style="width: 100%" class="card-img-top" src="~/images/documentation.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Documentation</h5>
                    <p class="card-text">View assignment documentation</p>
                    <a href="/Home/Documentation" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
